.product-container{
    width: 100%;
    display: block;    
}
.product-row{
    margin-bottom: 60px;
}
.menclothing-col__tiltle a{
    text-align: center;
    color:#2D3133;
    font-size: 37px;
    line-height: 41px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin:0 auto 20px;

}
.menclothing-col__tiltle a:hover{
    color:#6c6c70;
}
.product-container__menclothing{
    width: 100%;
    display: block; 
}
.menclothing-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.menclothing-col{
    width: 20%;
}
.menclothing-content__img{
    width: 100%;
    position: relative;
}
.menclothing-content__img img{
    width: 100%;
    height: auto;
}
.menclothing-content__price{
    text-align: center;
    line-height: 16px;
    font-weight: 500;
    margin-top: 0px;
}
.menclothing-content__price a{
    display: block;
    text-decoration: none;
    color:#2D3133;
    margin-top:5px;
}
.menclothing-content__price a:nth-child(2){
    color: #f94c43;
}
.men-content__hidden{
    background-color: #ffffff;
    width: 100%;
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    display: block;
    transform: scaleY(0);
}
.men-hidden__row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.men-hidden__col{
    width: 20%;
    text-align: center;
}
.men-hidden__col span{
    font-size: 12px;
    text-align: center;
}
.menclothing-col:hover .men-content__hidden{
    animation: productImg 300ms ease forwards;
    transform-origin: bottom center;
}
@keyframes productImg{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
.menclothing-content__Select a{
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 60px;
    background-color: #ffffff;
    opacity: 0.4;
    color:#5c5c5c;
    font-size: 40px;
    text-align: center;
    z-index: 10;
    padding-top: 4px;
    box-sizing: border-box;
      
}
/* new product slider */
.newproduct{
    max-width: 1500px;
    min-height: 600px;
    display: flex;   
    overflow-x: hidden;
    margin: 0 auto;
    
}
.menclothing-content__Select{
    position: relative;
}
.newproduct .menclothing-col{
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-left: 30px;
    margin-right: 90px;
}
.newproduct .menclothing-content__img img{
    width: 300px;
    height: auto;

}
.newproduct .men-hidden__col img{
    width: 100%;
    height: auto;
}
.newproduct .men-content__hidden{
    width: 100%;
}
.newproduct .menclothing-content__img{
    width: 260px;
}
.previous{
    position: absolute;
    top: -400px;
    left: 50px; 
    z-index: 10;
}
.next{
    position: absolute;
    top: -400px;
    right: 50px;  
    z-index: 10;
}
/* ------------------------------------------- */