body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Quicksand, sans-serif;
}

.hero{
    margin-top: 40px;
}
#hero-banner{
    position: relative;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 85vh;
}
#hero-banner img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: fade;
    animation-duration: 2s;
    display: none;
}
#hero-banner_selec ul{
    position: absolute;
    top:550px;
    left: 47%;
    z-index: 10000;
    
    /* list-style: none; */

}
#hero-banner_selec ul li{
    display: inline-block;
    border: 4px solid #ffffff;
    /* border: 4px solid red; */
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-left: 5px;
    

}
#hero-banner_selec ul li:hover{
    cursor: text;
}
.slideImg{
    animation: Imgslide 1s ease-in-out forwards;
    transform-origin: left center;
}
.active{
    background-color:#ffffff ;
} 
@keyframes Imgslide{
    0% {
        left: 100%;
    }
    100%{
        left:0;
    }
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
