body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Quicksand, sans-serif;
}
.top-bar__row{
    background-color: rgb(243,243,243);
    text-align: center;
    color: #252A2b;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding: 40px auto;
}
.navbar_top-bar{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-bar__logo{
    flex-grow: 1;
    margin-left: 10%;
    float: left;
    
    
}
.top-bar__search{
    flex-grow: 3;
    
    
}
.top-bar__sociallink{
    flex-grow: 1;
    /* margin-right: 10%; */
    /* float: right; */
    
}
.top-bar__logo img{
    width:80px;
    height: auto;
    
}
.top-bar__search > div{
    position: relative;
    
}
input[type="text"]{
    width: 80%;
    height: 30px;
    font-size: 14px;
    padding-left: 20px;
    font-family: Quicksand, sans-serif;
    border: none;
    background-color: rgb(245,245,245);
    
}
.fa-search{
    position: absolute;
    left:75%;
    line-height: 30px;
    opacity: 0.5;
}
#social_icon{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    
}
#social_icon li{
    margin-right: 10px;
    font-size: 30px;
    color:#252A2b;
}
#social_icon li a i{
    color:#252A2B;
}
.navbar-menu{
    margin-top: 20px;
    position: relative;
}
.navbar-menu>ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}
.navbar-menu ul li{
    position: relative;
}
.navbar-menu ul li a{
    text-decoration: none;
    color: #252A2B;
}
hr{
    opacity: 0.5;
}
.navbar-menu ul li a:hover{
    color: red;
}
.navbar-menu ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -10px;
    left:0px
    
}
.navbar-menu ul li:hover>a::after{
    animation-name:animation-navbar;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes animation-navbar{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
li#navbar-sale:hover #navbar-sale__butt{
    animation: scaleNav 300ms ease-in-out forwards;
    transform-origin: top center;
}
#navbar-sale__butt{
    position: absolute;
    left:0px;
    top: 30px;
    display:block;
    list-style: none;
    padding: 0px;
    background-color:  rgb(245,245,245);
    width: 250%;
    padding-top: 20px;
    transform: scaleY(0);
    z-index: 1000;
    
}
#navbar-sale__butt li{
    margin-bottom: 20px;
    padding-left: 20px;
}
.navbar-sub__container{
    position: absolute;
    left:-39VW;
    top: 30px;
    width:100vw;
    
    /* max-width: 2600px; */
    background-color: rgb(245,245,245);
    display: block;    
    padding-top: 20px;
    padding-bottom: 40px;
    transform: scaleY(0);

    
}
.navbar-sub__row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar-sub__col ul li a{
    text-decoration: none;
    font-size: 20px;
}
.navbar-sub__col ul li:nth-child(1) a{
    font-weight: 400;
    font-size: 30px;
}
.navbar-sub__col ul{
    list-style: none;
}
#nav-product:hover .navbar-sub__container{
    animation: scaleNav 300ms ease-in-out forwards;
    transform-origin: top center;
}
.navbar-sub__container:hover {
    transform: scaleY(1);

}
@keyframes scaleNav{
    0% {
        transform: scaleY(0)
      }
    50%{
        transform: scaleY(1.1)
    }
      100% {
        transform: scaleY(1)
      }
    }
.hero{
    margin-top: 40px;
}
#hero-banner{
    position: relative;
    height: fit-content;
    display: block;
}
#hero-banner img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: fade;
    animation-duration: 2s;
    display: none;
}
#hero-banner_selec ul{
    position: absolute;
    top:550px;
    left: 47%;
    z-index: 10000;
    
    /* list-style: none; */

}
#hero-banner_selec ul li{
    display: inline-block;
    border: 4px solid #ffffff;
    /* border: 4px solid red; */
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-left: 5px;
    

}
#hero-banner_selec ul li:hover{
    cursor: text;
}
.slideImg{
    animation: Imgslide 1s ease-in-out forwards;
    transform-origin: left center;
}
.active{
    background-color:#ffffff ;
} 
@keyframes Imgslide{
    0% {
        left: 100%;
    }
    100%{
        left:0;
    }
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
